@font-face {
  font-family: "Latin";
  src: url("./Resources/fonts/SouthCrew-VGw2e.ttf") format("truetype");
}

.nav-logo-contianer img {
  width: 75px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
  border: #f0a500;
  border-radius: 10px;
  outline: 2px solid rgb(0, 0, 0);
}

.Navbar-links-container a {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: black;
  font-size: 16px;
  margin: 0 10px;
  font-family: Latin;

    /* background: #444;
  border: none;
  box-shadow:
    inset 2px 2px 4px rgba(255,255,255,0.2),
    inset -2px -2px 4px rgba(0,0,0,0.4);

  nav ul li a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: auto;
  padding: 6px 12px; optional */
}

.Navbar-links-container a:hover {
  color: #f0a500;
}

body {
  background-color: bisque;
}

.details-link-icon {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-right: 6px;
}

.youtube-link-icon {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-right: 6px;
}

.github-link-icon {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-right: 6px;
}

.home-banner-container {
  background-repeat: no-repeat;
  background-position: top right;
  background-attachment: fixed;
}