.dropdown-container {
  position: relative;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 10;
}

.dropdown-container:hover .dropdown-menu {
  display: flex;
  flex-direction: column;
}

.dropdown-menu a {
  padding: 10px 20px;
  white-space: nowrap;
}